html, body {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #777;
}

.parallax1{
    position: relative;
    background-image: url("../img/img_parallax.jpg");
    height: 100%;
    opacity: 0.45;
    background-attachment: fixed; /* fixa a imagem e permite que os outros elementos da página "rolem" */
    background-position: center; /* posiciona a imagem de forma centralizada mesmo que o navegador seja redimensionado */
    background-repeat: no-repeat; /*Caso a tela seja maior que a imagem não permite que a imagem se repita*/
    background-size: cover; /* redimensiona a imagem de acordo com a tela do dispositivo, mantendo a proporção */
}

.caption {
    /* Altera a posição do texto */
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border{
    /* altera caracteristicas do texto: cor do fundo, espaçamento da borda, tamanho da fonte e espaçamento entre as letras.*/
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.parallax2 {
    position: relative;
    background-image: url("../img/img_parallax2.jpg");
    height: 100%;
    opacity: 0.75;
    background-attachment: fixed; /* fixa a imagem e permite que os outros elementos da página "rolem" */
    background-position: center; /* posiciona a imagem de forma centralizada mesmo que o navegador seja redimensionado */
    background-repeat: no-repeat; /*Caso a tela seja maior que a imagem não permite que a imagem se repita*/
    background-size: cover; /* redimensiona a imagem de acordo com a tela do dispositivo, mantendo a proporção */
}
.parallax3 {
    position: relative;
    background-image: url("../img/img_parallax3.jpg");
    height: 100%;
    opacity: 0.75;
    background-attachment: fixed; /* fixa a imagem e permite que os outros elementos da página "rolem" */
    background-position: center; /* posiciona a imagem de forma centralizada mesmo que o navegador seja redimensionado */
    background-repeat: no-repeat; /*Caso a tela seja maior que a imagem não permite que a imagem se repita*/
    background-size: cover; /* redimensiona a imagem de acordo com a tela do dispositivo, mantendo a proporção */
}

.box1 {
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

.box1 h3 {
    text-align: center;
}

.box2 {
    color: white;
    background-color: #5f5454;
    text-align: center;
    padding: 50px 80px;
}