div {
    position: absolute;
    width: 150px;
    height: 150px;
}

.esqcima {
    background-color: rgb(214, 108, 108);
    top: 20px;
    left: 20px;
}

.esqbaixo {
    background-color: rgb(170, 62, 170);
    bottom: 20px;
    left: 20px;
}

.dircima {
    background-color: rgb(189, 69, 25);
    top: 20px;
    right: 20px;
}

.dirbaixo {
    background-color: rgb(182, 51, 51);
    bottom: 20px;
    right: 20px;
}